<h3>Articles</h3>
<div class="my-16" fxLayout="row" fxLayoutAlign="end center" *ngIf="authentificationService.isAdmin()">
    <button mat-raised-button color="primary" routerLink="create-article">
      <mat-icon class="s-24 mr-4">add</mat-icon>
      Create New
    </button>
  </div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100-p">
    <ng-container matColumnDef="id">
        <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
        <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titre">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Titre</th>
        <td mat-cell class="px-12" *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Type</th>
        <td mat-cell class="px-12" *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="dateApparition">
        <th mat-header-cell class="px-12" *matHeaderCellDef> date</th>
        <td mat-cell class="px-12" *matCellDef="let element">
            {{element.dateApparition | date :'d MMMM y, HH:mm'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="lien">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Lien</th>
        <td mat-cell class="px-12" *matCellDef="let element">
            <a [href]="element.lien" target="_blank">
                <mat-icon>link</mat-icon>
                Link
            </a>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sourcePdf">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Source</th>
        <td mat-cell class="px-12" *matCellDef="let element">
            <a [href]="element.sourcePdf" target="_blank">
                <mat-icon>download</mat-icon>
                Download
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
        <td mat-cell class="px-12 w-120" *matCellDef="let element">
            <button mat-icon-button [routerLink]="element.id + '/affect-article'" (click)="onAddArticle(element.id)" >
                <mat-icon>add_task</mat-icon>
              </button>
          <button mat-icon-button [routerLink]="element.id + '/edit'" *ngIf="authentificationService.isAdmin()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onRemoveAccount(element.id)" *ngIf="authentificationService.isAdmin()">
            <mat-icon>delete</mat-icon>
          </button>
    
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

