<div class="container">

    <h4>{{isFormInEditMode() ? 'Edit Article' : 'Create New Article'}}</h4>
  
    <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
  
      <mat-form-field>
        <input matInput placeholder="id" formControlName="id">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="titre" formControlName="titre">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="type" formControlName="type">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="dateApparition" [matDatepicker]="date" formControlName="dateApparition" readonly>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="lien" formControlName="lien">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="sourcePdf" formControlName="sourcePdf">
      </mat-form-field>
  
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
      </div>
  
    </form>
  </div>
  