<div class="container">

    <h4>{{isFormInEditMode() ? 'Edit Tool' : 'Create New Tool'}}</h4>
  
    <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
  
      <mat-form-field>
        <input matInput placeholder="id" formControlName="id">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="date" [matDatepicker]="date" formControlName="date" readonly>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker> 
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="source" formControlName="source">
      </mat-form-field>
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
      </div>
  
    </form>
  </div>
  