  <p class="h2" color="pink">Welcome {{connectedUser.nom}} {{connectedUser.prenom}}</p>

  <table class="table table-dark">
    <tbody>
      <tr>
        <th scope="row">ID</th>
        <td>{{connectedUser.id}}</td>
      </tr>
      <tr>
        <th scope="row">CIN</th>
        <td>{{connectedUser.cin}}</td>
      </tr><tr>
        <th scope="row">Name</th>
        <td>{{connectedUser.nom}}</td>
      </tr>
      <tr>
        <th scope="row">Prenom</th>
        <td>{{connectedUser.prenom}}</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>{{connectedUser.email}}</td>
      </tr>
      <tr>
        <th scope="row">Password</th>
        <td>{{connectedUser.password}}</td>
      </tr>
      <tr>
        <th scope="row">Role</th>
        <td>{{connectedUser.role}}</td>
      </tr>
      <tr>
        <th scope="row">type</th>
        <td>{{connectedUser.type}}</td>
      </tr>
    </tbody>
  </table>

  <div class="col col-md-3">
    <button mat-raised-button color="primary" [routerLink]="connectedUser.id + '/edit'">
      <mat-icon class="s-24 mr-4">edit</mat-icon>
      edit profile
    </button>
  </div>


  <br><br><br>
  <p class="h2" color="pink">Articles</p>
  
  <table mat-table [dataSource]="articles" class="mat-elevation-z8 w-100-p">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="titre">
      <th mat-header-cell class="px-12" *matHeaderCellDef> titre</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>
    
    <ng-container matColumnDef="type">
      <th mat-header-cell class="px-12" *matHeaderCellDef> type</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

        
    <ng-container matColumnDef="dateApparition">
      <th mat-header-cell class="px-12" *matHeaderCellDef> dateApparition</th>
      <td mat-cell class="px-12" *matCellDef="let element">
        {{element.dateApparition | date :'d MMMM y, HH:mm'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lien">
      <th mat-header-cell class="px-12" *matHeaderCellDef> lien</th>
      <td mat-cell class="px-12" *matCellDef="let element">
        <a [href]="element.lien" target="_blank">
          <mat-icon>link</mat-icon>
        </a>
      </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="sourcePdf">
      <th mat-header-cell class="px-12" *matHeaderCellDef> sourcePdf</th>
      <td mat-cell class="px-12" *matCellDef="let element">
        <a [href]="element.sourcePdf" target="_blank">
          <mat-icon>picture_as_pdf</mat-icon>
        </a>
      </td>
    </ng-container>
  
  
    <ng-container matColumnDef="actions" stickyEnd  >
      <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
      <td mat-cell class="px-12 w-120" *matCellDef="let element">
        <button mat-icon-button [routerLink]="element.id + '/edit-article'" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onRemoveAccount(element.id)" >
          <mat-icon>delete</mat-icon>
        </button>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedArticlesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedArticlesColumns;"></tr>
  </table>
  <br>
  
  <div class="col col-md-4">
    <button mat-raised-button color="primary" routerLink="create-article">
      <mat-icon class="s-24 mr-4">add</mat-icon>
      add article 
    </button>
  </div>

<!--TOOLS-->

<br><br><br>
  <p class="h2" color="pink">Tools</p>
  
  <table mat-table [dataSource]="tools" class="mat-elevation-z8 w-100-p">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
        
    <ng-container matColumnDef="date">
      <th mat-header-cell class="px-12" *matHeaderCellDef> date</th>
      <td mat-cell class="px-12" *matCellDef="let element">
        {{element.date | date :'d MMMM y, HH:mm'}}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="source">
      <th mat-header-cell class="px-12" *matHeaderCellDef> source</th>
      <td mat-cell class="px-12" *matCellDef="let element">
        <a [href]="element.source" target="_blank">
          <mat-icon>picture_as_pdf</mat-icon>
        </a>
      </td>
    </ng-container>
  
  
    <ng-container matColumnDef="actions" stickyEnd  >
      <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
      <td mat-cell class="px-12 w-120" *matCellDef="let element">
        <button mat-icon-button [routerLink]="element.id + '/edit-tool'" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onRemoveAccount(element.id)" >
          <mat-icon>delete</mat-icon>
        </button>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedToolsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedToolsColumns;"></tr>
  </table>
  <br>
  
  <div class="col col-md-4">
    <button mat-raised-button color="primary" routerLink="create-tool">
      <mat-icon class="s-24 mr-4">add</mat-icon>
      add tool 
    </button>
  </div>

<!--EVENTS-->

<br><br><br>
  <p class="h2" color="pink">Events</p>
  
  <table mat-table [dataSource]="tools" class="mat-elevation-z8 w-100-p">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell class="px-12" *matHeaderCellDef> Title</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
        
    <ng-container matColumnDef="date">
      <th mat-header-cell class="px-12" *matHeaderCellDef> date</th>
      <td mat-cell class="px-12" *matCellDef="let element">
        {{element.date | date :'d MMMM y, HH:mm'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lieu">
      <th mat-header-cell class="px-12" *matHeaderCellDef> Lieu</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.lieu}} </td>
    </ng-container>

    
  
    <ng-container matColumnDef="actions" stickyEnd  >
      <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
      <td mat-cell class="px-12 w-120" *matCellDef="let element">
        <button mat-icon-button [routerLink]="element.id + '/edit-event'" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onRemoveAccount(element.id)" >
          <mat-icon>delete</mat-icon>
        </button>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedEventsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedEventsColumns;"></tr>
  </table>
  <br>
  
  <div class="col col-md-4">
    <button mat-raised-button color="primary" routerLink="create-event">
      <mat-icon class="s-24 mr-4">add</mat-icon>
      add event 
    </button>
  </div>

 
