<div class="container">

  <h4>{{isFormInEditMode() ? 'Edit Member' : 'Create New Member'}}</h4>

  <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="id" formControlName="id">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="cin" formControlName="cin">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="nom" formControlName="nom">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="prenom" formControlName="prenom">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="date" [matDatepicker]="date" formControlName="date" readonly>
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="photo" formControlName="photo">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="cv" formControlName="cv">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="password" formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select formControlName="role">
        <mat-option value="member">member</mat-option>
        <mat-option value="admin">admin</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select formControlName="type">
        <mat-option value="student">student</mat-option>
        <mat-option value="teacher">teacher</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
    </div>

  </form>
</div>
