<div class="my-16" fxLayout="row" fxLayoutAlign="end center" *ngIf="authentificationService.isAdmin()">
  <button mat-raised-button color="primary" routerLink="create">
    <mat-icon class="s-24 mr-4">add</mat-icon>
    Create New
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100-p">
  <ng-container matColumnDef="id">
    <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="cin">
    <th mat-header-cell class="px-12" *matHeaderCellDef> CIN</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.cin}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell class="px-12" *matHeaderCellDef> nom</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

  
  <ng-container matColumnDef="prenom">
    <th mat-header-cell class="px-12" *matHeaderCellDef> prenom</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.prenom}} </td>
  </ng-container>

  
  <ng-container matColumnDef="date">
    <th mat-header-cell class="px-12" *matHeaderCellDef> date</th>
    <td mat-cell class="px-12" *matCellDef="let element">
      {{element.date | date :'d MMMM y, HH:mm'}}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="photo">
    <th mat-header-cell class="px-12" *matHeaderCellDef> photo</th>
    <td mat-cell class="px-12" *matCellDef="let element"> 
      <img  class="s-48" style="width: 48px; height: 48px;" src='https://cdn.iconscout.com/icon/free/png-256/avatar-367-456319.png' alt="photo"/>
       </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cv">
    <th mat-header-cell class="px-12" *matHeaderCellDef> CV</th>
    <td mat-cell class="px-12" *matCellDef="let element">
      <a [href]="element.cv" target="_blank">
        <mat-icon>picture_as_pdf</mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell class="px-12" *matHeaderCellDef> email </th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell class="px-12" *matHeaderCellDef> role </th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell class="px-12" *matHeaderCellDef> type </th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="actions" stickyEnd  >
    <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
    <td mat-cell class="px-12 w-120" *matCellDef="let element">
      <button mat-icon-button [routerLink]="element.id + '/page'" >
        <mat-icon>account_box</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="element.id + '/edit'" *ngIf="authentificationService.isAdmin()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onRemoveAccount(element.id)" *ngIf="authentificationService.isAdmin()">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
