<mat-sidenav-container>

  <!-- The side nav -->
  <mat-sidenav #drawer fixedInViewport="true" mode="over" opened="false" style="width: 230px;">
    <mat-toolbar color="primary" fxLayout fxLayoutGap="16px">
      <mat-icon>school</mat-icon>
      <span>ENIS Lab</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/members">Members</a>
      <a mat-list-item routerLink="/tools">Tools</a>
      <a mat-list-item routerLink="/articles">Articles</a>
      <a mat-list-item routerLink="/events">Events</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- EO: Side nav-->

  <!-- Side nav content-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxFlex fxLayout fxLayoutAlign="start center" >
        <button type="button" aria-label="Toggle sidenav" class="toolbar-button" mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div>ENIS Lab</div>

        <div fxFlex></div>

        <div class="toolbar-separator"></div>
        <button [matMenuTriggerFor]="userMenu" class="toolbar-button" mat-button *ngIf="connectedUser">
          <div fxLayout="row" fxLayoutAlign="center center">
            <!--          <img class="avatar mr-0 mr-sm-16" [src]="user.photoURL">-->
            <mat-icon>account_circle</mat-icon>
            <span class="username mx-12" fxShow.gt-sm>{{connectedUser.nom}}</span>
            <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
          </div>
        </button>
        <button mat-button [routerLink]="'/login'"
         *ngIf="!connectedUser">
          Login
        </button>

        <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

          <button class="" mat-menu-item routerLink="profile">
            <mat-icon>account_box</mat-icon>
            <span>Profile</span>
          </button>
          <button class="" mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>

        </mat-menu>
      </div>
    </mat-toolbar>

    <div class="content mt-80 mx-16">
      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-content>
  <!-- EO: Side nav content-->

</mat-sidenav-container>