<p class="h2" color="pink">Page :  {{item.nom}} {{item.prenom}}</p>

<table class="table table-dark">
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td>{{item.id}}</td>
    </tr>
    <tr>
      <th scope="row">CIN</th>
      <td>{{item.cin}}</td>
    </tr><tr>
      <th scope="row">Name</th>
      <td>{{item.nom}}</td>
    </tr>
    <tr>
      <th scope="row">Prenom</th>
      <td>{{item.prenom}}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{item.email}}</td>
    </tr>
    <tr>
      <th scope="row">Role</th>
      <td>{{item.role}}</td>
    </tr>
    <tr>
      <th scope="row">type</th>
      <td>{{item.type}}</td>
    </tr>
    <tr>
        <th scope="row" *ngIf="isStudent()">encadrant</th>
        <td>{{item.encadrant.nom}} {{item.encadrant.prenom}}</td>
      </tr>
  </tbody>
</table>

<p class="h2" color="pink" *ngIf="!isStudent()">Liste des etudiants :</p>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100-p" *ngIf="!isStudent()">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cin">
      <th mat-header-cell class="px-12" *matHeaderCellDef> CIN</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.cin}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell class="px-12" *matHeaderCellDef> nom</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="prenom">
      <th mat-header-cell class="px-12" *matHeaderCellDef> prenom</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.prenom}} </td>
    </ng-container>


  
    <ng-container matColumnDef="email">
      <th mat-header-cell class="px-12" *matHeaderCellDef> email </th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  